<div id="modal-delete-role" class="modal fade delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close"></button>

            <div class="delete-image"></div>
            <h1>
                {% if role.users | length > 0 %}
                    Ce rôle est affecté à un ou plusieurs utilisateurs. <br>
                    Vous ne pouvez pas le supprimer.<br>
                    Voulez-vous le désactiver ?
                {% else %}
                    Voulez-vous vraiment supprimer le rôle <b data-display="name"></b>
                {% endif %}
            </h1>

            <input type="hidden" name="id" class="data">

            <div class="footer">
                <button type="button" class="secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="primary">{{ role.users | length > 0 ? 'Désactiver' : 'Supprimer' }}</button>
            </div>
        </div>
    </div>
</div>
