<div id="modal-delete-role" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supprimer ce rôle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Vous êtes sur le point de supprimer définitivement le rôle <b data-display="label"></b>
                <input type="hidden" name="id" class="data">
            </div>
            <div class="modal-footer">
                <button type="button" class="secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="primary">Supprimer</button>
            </div>
        </div>
    </div>
</div>
