<div id="modal-edit-role" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
            <h1>Modifier le rôle</h1>

            <div class="body">
                {% include 'settings/role/modal/form.html.twig' %}
            </div>

            <div class="footer">
                <button type="button" class="secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="primary">Enregistrer</button>
            </div>
        </div>
    </div>
</div>
