{% import 'operation/planning/macros.html.twig' as macros %}

<div class="stock-problems"></div>
<div class="row deliveries-container mt-2">
    <div class="col-md-6 col-12">
        <label>Livraisons disponibles au lancement</label>
        <div class="deliveries available-order-for-start">
            {#
                {% for order in orders %}
                    {{ macros.order_card(order, false) }}
                {% endfor %}
            #}
        </div>
    </div>
    <div class="col-md-6 col-12">
        <label>Livraisons à lancer</label>
        <div class="deliveries orders-to-start">
            {% for assigned in assignedForStart %}
                {{ macros.order_card(assigned, false) }}
            {% endfor %}
        </div>
    </div>
</div>