{% extends 'template.html.twig' %}

{% block menu %}Traçabilité{% endblock %}
{% block page %}Mouvements{% endblock %}

{% block content %}
    <div class="box box-small">
        <h1>Accès refusé</h1>
        Vous ne disposez pas des permissions nécessaires pour accéder à cette page. Veuillez contacter votre administrateur si vous souhaitez modifier vos droits d'accès.
    </div>
{% endblock %}
