{% extends 'security/base.html.twig' %}

{% block title %}BoxEaty - Mot de passe oublié{% endblock %}
{% block header %}Mot de passe oublié{% endblock %}

{% block content %}
    {{ form_start(form) }}
        <label class="d-block">
            Adresse email
            {{ form_widget(form.email, {'attr': {'placeholder': 'Adresse email', 'autofocus': ''}}) }}
        </label>

        <button class="primary w-100 mt-3" type="submit">Réinitialiser le mot de passe</button>
        <a href="{{ path('login') }}" class="secondary w-100 mt-1" role="button">Retour à la connexion</a>
    {{ form_end(form) }}
{% endblock %}
