{% extends 'security/base.html.twig' %}

{% block title %}BoxEaty - Mot de passe oublié{% endblock %}
{% block header %}Mot de passe oublié{% endblock %}

{% block content %}
    Un lien de reconnexion vous a été envoyé à l'adresse suivante :
    <input class="w-100" value="{{ email }}" disabled>

    <a href="{{ path('login') }}" class="secondary w-100 mt-3" role="button">Retour à la connexion</a>
{% endblock %}
