{% extends 'security/base.html.twig' %}

{% block title %}Boxeaty - Réinitialisation du mot de passe{% endblock %}
{% block header %}Réinitialisation du mot de passe{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <label class="d-block">
        Mot de passe
        {{ form_widget(form.password, {'attr': {'placeholder': 'Mot de passe', 'autofocus': ''}}) }}
    </label>

    <label class="d-block">
        Confirmation du mot de passe
        {{ form_widget(form.confirmation, {'attr': {'placeholder': 'Mot de passe'}}) }}
    </label>

    <button class="primary w-100 mt-3" type="submit">Réinitialiser le mot de passe</button>
    {{ form_end(form) }}
{% endblock %}
