###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/public/generated/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

/.idea/
/public/exports/
/public/persistent/imports
/public/persistent/traces

###> assoconnect/mjml-bundle ###
/templates/emails/*.html.twig
###< assoconnect/mjml-bundle ###
