<div class="position-relative toggle">
    <input type="radio" id="filter-box" name="box" class="data" value="1"/>
    <label class="w-auto" for="filter-box">Box</label>

    <input type="radio" id="filter-crate" name="box" class="data" value="0"/>
    <label class="w-auto" for="filter-crate">Caisse</label>
</div>