<div class="position-relative toggle">
    <input type="checkbox" id="filter-box" name="box" class="radio-like data-array" value="1"/>
    <label class="radio-like w-auto" for="filter-box">Box</label>

    <input type="checkbox" id="filter-crate" name="box" class="radio-like data-array" value="0"/>
    <label class="radio-like w-auto" for="filter-crate">Caisse</label>
</div>