<select name="condition" class="data" data-s2 data-placeholder="Etat">
    <option value="{{ constant('App\\Entity\\DepositTicket::VALID') }}">Valable</option>
    <option value="{{ constant('App\\Entity\\DepositTicket::SPENT') }}">Utilisé</option>
    <option value="{{ constant('App\\Entity\\DepositTicket::EXPIRED') }}">Périmé</option>
</select>
