<div class="d-flex">
    <label class="dates">
        Du
        <input type="date" name="from" class="data">
    </label>
    <label class="dates">
        au
        <input type="date" name="to" class="data">
    </label>
</div>
