{% extends 'filters/template.html.twig' %}

{% block filters %}
    {% include 'filters/filter_items/client_item.html.twig' with {client: client, required: true, multiple: true } %}
    {% include 'filters/filter_items/date_item.html.twig' with {from: from, to: to, required: true} %}
{% endblock %}

{% block buttons %}
    <button class="primary filter">Filtrer</button>
{% endblock %}
