<select name="kiosk" class="data" data-s2 data-placeholder="Lieu de création">>
    {% for kiosk in kiosks %}
        <option value="{{ kiosk.id }}">{{ kiosk.name }}</option>
    {% endfor %}
</select>