<div class="validationClientOrder">
    <div class="header-section">
        <h2 class="header-section-label">Information</h2>
    </div>

    <div class="row justify-content-between">
        <span class="bigTxt col-md-8 col-12">{{ clientOrder.client.name }}</span>
        <span class="col-md-4 col-12">{{ clientOrder.requester.phone }}</span>
    </div>
    <div class="row justify-content-between">
        <span class="bigTxt col-md-8 col-12">{{ clientOrder.client.name }}</span>
        <span class="col-md-4 col-12">{{ clientOrder.requester.phone }}</span>
    </div>



</div>