<div id="modal-new-client-order" class="modal fade {# {% if redirection == 1 %} show-onload {% endif %} #}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
            <h1>Nouvelle commande client</h1>

            <div class="body">
                {%  include 'operation/client_order/modal/form.html.twig' %}
            </div>
            <input id="redirection" type="hidden" value="{{ redirection is defined and redirection ? redirection : 0 }} ">
            <div class="footer">
                <button type="button" class="secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="primary" id="validation" >Suivant</button>
            </div>
        </div>
    </div>
</div>