<div id="modal-edit-user" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
            <h1>Détails de la commande</h1>

            <div class="body">
koopkpok
            </div>
        </div>
    </div>
</div>
