body {
    margin: 0;
}

.column {
    width: 100%;
    display: table;
}

.column > * {
    margin: auto;
    display: table-row;
    vertical-align: middle;
    width: 100%;
}

.mt-2 {
    display: inline-block;
    margin-top: 10px;
}

.mt-3 {
    display: inline-block;
    margin-top: 15px;
}

.no-wrap {
    white-space: nowrap;
}
