<div id="modal-delete-quality" class="modal fade delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close"></button>

            <div class="delete-image"></div>
            <h1>
                {% if quality.boxes | length > 0 or quality.records | length > O %}
                    Cette qualité est utilisée par un ou plusieurs Box ou mouvements. <br>
                    Vous ne pouvez pas la supprimer.<br>
                    Voulez-vous la désactiver ?
                {% else %}
                    Voulez-vous vraiment supprimer la qualité <b data-display="name"></b>
                {% endif %}
            </h1>

            <input type="hidden" name="id" class="data">

            <div class="footer">
                <button type="button" class="secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="primary">{{ quality.boxes | length > 0 or quality.records | length > O ? 'Désactiver' : 'Supprimer' }}</button>
            </div>
        </div>
    </div>
</div>
