<div class="row">
    <div class="col-12">
        <label>
            Libellé
            <input type="text" name="name" class="data" placeholder="Qualité" value="{{ quality.name }}" required/>
        </label>
    </div>
</div>
