<div id="modal-confirmation-order" class="modal confirmation mt-4 fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close"></button>

            <div class="confirmation-image"></div>
            <h1>La/Les Box est/sont sortie(s) !</h1>

            <p>Pensez à demander le versement de la consigne en caisse !</p>

            <div class="footer">
                <button type="submit" class="primary">Continuer</button>
            </div>
        </div>
    </div>
</div>
