<div id="modal-confirmation-order" class="modal fade confirmation mt-4">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close"></button>

            <div class="confirmation-image"></div>
            <h1>Terminé</h1>

            <div class="footer">
                <button data-bs-dismiss="modal" class="primary">Continuer</button>
            </div>
        </div>
    </div>
</div>
