<div id="modal-scan" class="modal fade mt-4">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
            <h1 class="scan-container-title">Scan de la Box</h1>

            <div class="scan-container">
                <img src="{{ asset('images/barcode-mask.svg') }}">
                <video class="scan-element"></video>
            </div>
            <div class="footer">
                <button type="button" class="secondary" data-bs-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
