<div class="box global-settings">
    <h1>
        Configuration mot de passe borne
        <button class="secondary float-end" type="submit">Enregistrer</button>
    </h1>

    <label class="w-35">
        Mot de passe de la borne - Visiteur
        <input name="{{ constant('App\\Entity\\GlobalSetting::EMPTY_KIOSK_CODE') }}" class="data" value="{{ empty_kiosk_code.value }}"/>
    </label>
    <label class="w-35">
        Mot de passe de la borne - SuperAdmin
        <input name="{{ constant('App\\Entity\\GlobalSetting::SETTING_CODE') }}" class="data" value="{{ setting_code.value }}"/>
    </label>
</div>
