{% extends 'filters/template.html.twig' %}

{% block filters %}
    {% include('filters/filter_items/date_item.html.twig') with {
        from: date(),
        to: date('+20 days')
    } %}
    {% include('filters/filter_items/depository_item.html.twig') %}
    {% include('filters/filter_items/deliverer_item.html.twig') %}
{% endblock %}

{% block buttons %}
    {{ parent() }}
    <button class="secondary"><i class="icon fas fa-play-circle"></i> Lancement</button>
    <button class="secondary new-delivery-round"><i class="icon fas fa-user-friends"></i> Affectation tournée</button>
{% endblock %}