<div class="filters first-box row">
    <div class="filter-items col">
        {% block filters %}{% endblock %}
    </div>
    <div class="col-auto my-2">
        <button class="primary filter">Filtrer</button>
        <button class="silent empty-filters"><i class="icon fas fa-redo"></i>Réinitialiser les filtres</button>
    </div>
</div>
