<div class="filters row">
    <div class="filter-items col">
        {% block filters %}{% endblock %}
    </div>
    <div class="col-auto my-2">
        {% block buttons %}
            <button class="primary filter">Filtrer</button>
            <button class="silent empty-filters"><i class="icon fas fa-redo"></i>Réinitialiser les filtres</button>
        {% endblock %}
    </div>
</div>
