<div class="filters first-box">
    <div class="filter-items">
        {% block filters %}{% endblock %}
    </div>
    <div class="right">
        <button class="primary filter">Filtrer</button>
        <button class="silent empty-filters"><i class="icon fas fa-redo"></i>Réinitialiser les filtres</button>
    </div>
</div>
