<div class="filters first-box">
    {% block filters %}{% endblock %}
    <div class="right">
        <button class="primary">Filtrer</button>
        <button class="silent"><i class="icon fas fa-redo"></i>Réinitialiser les filtres</button>
    </div>
</div>