<div id="modal-delete-client" class="modal fade delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="delete-image"></div>
            {% if client.boxes | length > 0 or client.boxRecords | length > 0 or client.outLocation!=null %}
                <h1>Ce client est lié à un ou plusieurs mouvements ou Box</h1>
                <p class="text-center">
                    Vous ne pouvez pas le supprimer.<br>
                    Voulez-vous le désactiver ?
                </p>
            {% elseif client.clients | length > 0 %}
                <h1>Ce client est un client multi-site et est lié à d'autres clients</h1>
                <p class="text-center">
                    Vous ne pouvez pas le supprimer.<br>
                    Voulez-vous le désactiver ?
                </p>
            {% else %}
                <h1>Voulez-vous vraiment supprimer ce client ?</h1>
            {% endif %}

            <input type="hidden" name="id" class="data">

            <div class="footer">
                <button type="button" class="secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="primary">{{ (client.boxes | length > 0 or client.boxRecords | length > 0 or client.outLocation!=null) ? 'Désactiver' : 'Supprimer' }}</button>
            </div>
        </div>
    </div>
</div>
