<div id="modal-delete-client" class="modal delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="delete-image"></div>
            <h1>
                {% if client.boxes | length > 0 or client.boxRecords | length > 0 %}
                    Ce client est lié à un(e) ou plusieurs Box, mouvements.<br>
                    Vous ne pouvez pas le supprimer.<br>
                    Voulez-vous le désactiver ?
                {% else %}
                    Voulez-vous vraiment supprimer ce client ?
                {% endif %}
            </h1>
            <input type="hidden" name="id" class="data">

            <div class="footer">
                <button type="button" class="secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="primary">{{ (client.boxes | length > 0 or client.boxRecords | length > 0) ? 'Désactiver' : 'Supprimer' }}</button>
            </div>
        </div>
    </div>
</div>
