<div class="datatable-action dropdown"> {# quand bootstrap aura résolu la 32947 : data-bs-display="static" #}
    <span type="button" data-bs-toggle="dropdown">
        <i class="fas fa-ellipsis-h"></i>
    </span>
    <div class="dropdown-menu">
        <button data-listener="edit"><i class="icon fas fa-pen"></i> Modifier</button>
        <button data-listener="delete"><i class="icon fas fa-trash-alt"></i> Supprimer</button>
    </div>
</div>
