{% extends 'template.html.twig' %}

{% block menu %}Paramétrage{% endblock %}
{% block page %}Utilisateurs{% endblock %}

{% block content %}
    <div class="box first-box">
        <div class="content-menu">
            <div id="table-search-container"></div>
            <div class="right">
                <a href="{{ path('users_export') }}" class="outline"><i class="icon fas fa-download"></i> Export au format CSV</a>
                <button class="primary new-user"><i class="icon fas fa-plus"></i> Nouvel utilisateur</button>
            </div>
        </div>

        <table id="table-users"
               data-initial-data="{{ initial_users }}"
               data-default-order="{{ users_order|json_encode }}">
        </table>
    </div>

    {% include 'settings/user/modal/new.html.twig' with {user: new_user} %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('user_list') }}
{% endblock %}
