<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Impression</title>

    <style>
        @font-face {
            font-family: 'Autumn Collection';
            font-style: normal;
            font-weight: 400;
            src: url({{ base64('../assets/fonts/autumn-collection/autumn-collection-regular.otf') }}) format('opentype');
        }

        @font-face {
            font-family: 'Retroyal';
            font-style: normal;
            font-weight: 400;
            src: url({{ base64('../assets/fonts/retroyal/retroyal-bold.otf') }}) format('opentype');
        }

        @font-face {
            font-family: 'Retroyal';
            font-style: normal;
            font-weight: 700;
            src: url({{ base64('../assets/fonts/retroyal/retroyal-medium.otf') }}) format('opentype');
        }
    </style>

    <style>
        {% include 'print/style/base.css' %}
        {% block stylesheets %}{% endblock %}
    </style>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
