<div class="datatable-action dropdown">
    <span type="button" data-bs-toggle="dropdown">
        <i class="fas fa-ellipsis-h"></i>
    </span>
    <div class="dropdown-menu">
        <button data-listener="edit"><i class="icon fas fa-pen"></i> Modifier</button>
    </div>
</div>
