<div id="modal-delete-box" class="modal fade delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close"></button>

            <div class="delete-image"></div>
            <h1>Voulez-vous réellement <br>supprimer cette Box ?</h1>
            <p class="text-center">Cette action supprimera la Box et son historique</p>
            <input type="hidden" name="id" class="data">

            <div class="footer">
                <button type="button" class="secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="primary">Supprimer</button>
            </div>
        </div>
    </div>
</div>
