<div id="modal-delete-box" class="modal fade delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close"></button>

            <div class="delete-image"></div>
            {% set cantDelete = (
                box.depositTickets|length == 0
                and box.boxPreparationLines|length == 0
                and box.cratePreparationLines|length == 0
            ) %}
            {% if not cantDelete %}
                <h1>Vous ne pouvez pas supprimer cette Box</h1>
                <p class="text-center">
                    Cette Box / caisse est liée à un ou plusieurs tickets-dépose, commandes comptoir ou client.<br>
                    Vous ne pouvez pas la supprimer.
                </p>
            {% else %}
                <h1>Voulez-vous réellement<br>supprimer cette Box ?</h1>
                <p class="text-center">Cette action supprimera la Box et son historique</p>
            {% endif %}
            <input type="hidden" name="id" class="data">

            {% if cantDelete %}
                <div class="footer">
                    <button type="button" class="secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="primary">Supprimer</button>
                </div>
            {% endif %}
        </div>
    </div>
</div>
