@import "variables";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import "~select2/src/scss/core";
@import '~froala-editor/css/froala_editor.css';

@import "mixins";
@import "fonts";
@import "header";
@import "forms";
@import "login";
@import "select2";
@import "datatable";
@import "settings";
@import "timeline";

html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Retroyal', sans-serif;
    background-color: $grey;
    max-width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

body.home {
    display: flex;
    flex-direction: column;
    height: 100%;

    main {
        flex: 1 1 auto;

        .box {
            height: 100%;
        }
    }
}

.w-35 {
    width: 35% !important;
}

h1, h2 {
    font-family: 'Autumn Collection', serif;
    color: $blue;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-weight: bold;
    color: $blue;
    font-size: 1.1rem;
}

main:not(.login) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;

    .box.first-box, .filters.first-box {
        margin-top: -30px;
    }

    .box:not(.first-box) {
        margin-top: 1.5rem;
    }

    .box:not(.box-small), .filters:not(.box-small) {
        width: 100%;
    }

    .filters  {
        @include box();
        @include content-apart();

        flex-wrap: wrap;
        justify-content: space-between;
        flex: 1 1 auto;
        min-height: 65px;
        padding: 16px;
        margin-bottom: 40px;
        z-index: 1;
        width: 100%;
        border-radius: 8px;

        .right {
            display: flex;
            justify-content: flex-end;
            flex: 1 1 auto;
        }

        .filter-items {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;

            &>* {
                margin-right: 25px;
            }
        }

        label {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;

            &.dates {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 10px;
            }
        }
    }

    .content-menu {
        @include content-apart();

        margin: 15px 0;
    }
}

.alert-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    .alert {
        margin-bottom: 0;
        border-radius: 0;
    }
}

.box {
    @include box();

    &.box-small {
        min-width: 350px;
        width: 40%;
    }

    &.home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.text-reset {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: $blue;
}

.text-semi-bold {
    font-weight: 600;
}

.loading {
    position: relative;

    /* slightly transparent fallback */
    .spinner-border-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(2px);
        background-color: initial;
    }
}

//FROALA OVERRIDES
.fr-box.fr-basic {

    .fr-second-toolbar {
        display: none;
    }

    .fr-toolbar {
        border: none;
        background-color: $grey;
    }

    .fr-wrapper {
        border: none;
        border-bottom: 1px solid $grey-dark !important;
        height: 15vh;
    }
}

.modal.delete {
    h1 {
        font-family: 'Retroyal', sans-serif;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: normal;
    }

    .delete-image {
        width: 100%;
        height: 100px;
        background: url(../images/delete.svg) no-repeat scroll center;
        background-size: 100px;
        margin-bottom: 25px;
    }
}

.modal.confirmation {
    h1 {
        font-family: 'Retroyal', sans-serif;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: normal;
    }

    .confirmation-image {
        width: 100%;
        height: 100px;
        background: url(../images/success.svg) no-repeat scroll center;
        background-size: 100px;
        margin-bottom: 25px;
    }

    p {
        text-align: center;
    }
}

// Card for order page
.new-order-container {
    position: absolute;
    right: 50px;
    top: 160px;

    .new-order {
        height: 70px !important;
        width: 70px !important;
        border-radius: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            margin-right: 0 !important;
            font-size: 20px;
        }
    }
}

.order-card {
    @include box();

    &:not(:first-of-type) {
        margin-top: 2vh;
    }

    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        span:first-child {
            width: 15vw;
        }

        .delete-order {
            width: 60px !important;
            height: 60px !important;
            border-radius: 50%;
            border: 0;
            background: $red;
            color: white;
            text-align: center;
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background: #e23b4b;
            }

            .icon {
                margin-right: 0 !important;
            }
        }
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5vh;

        .price {
            @include box();
            width: 20% !important;
        }
    }
}

.scan-box {
    text-align: center;
    border: 2px solid $orange;
    border-radius: 7px;
    height: 80px;
    padding: 20px 0px;
    color: $orange;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.scan-container {
    position: relative;

    img {
        position: absolute;
        padding: 2rem;
        max-height: 100%;
        max-width: 100%;
        z-index: 1000;
        opacity: 0.5;
    }

    .scan-element {
        border-radius: 10px;
        width: 100%;
    }
}

.deposit-ticket-scan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 2px solid $orange;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: $orange;

        .fa-qrcode {
            color: white;
        }
    }

    .fa-qrcode {
        color: $orange;
    }
}


.comment {
    margin-left: 250px;
    border-radius: 5px;
    background-color: #F4E7E9;
    height: 50px;
    width: 36vw;
    padding: 15px;
}
input[type="date"] {
    position: relative;
}

/* create a new arrow, because we are going to mess up the native one
see "List of symbols" below if you want another, you could also try to add a font-awesome icon.. */
input[type="date"]:after {
    content: "\1F5D3";
    color: #555;
    padding: 0 5px;
}

/* change color of symbol on hover */
input[type="date"]:hover:after {
    color: #bf1400;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

.cursor-pointer {
    cursor: pointer !important;
}

///* adjust increase/decrease button */
//input[type="date"]::-webkit-inner-spin-button {
//    z-index: 1;
//}
//
///* adjust clear button */
//input[type="date"]::-webkit-clear-button {
//    z-index: 1;
//}
