@import "variables";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import "mixins";
@import "fonts";
@import "header";
@import "forms";
@import "login";
@import "datatable";

body {
    font-family: 'Retroyal', sans-serif;
    background-color: $grey;
}

h1, h2 {
    font-family: 'Autumn Collection', serif;
    color: $blue;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-weight: bold;
    color: $blue;
    font-size: 1.1rem;
}

main:not(.login) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;

    .box.first-box, .filters.first-box {
        margin-top: -30px;
    }

    .box:not(.first-box) {
        margin-top: 1.5rem;
    }

    .box:not(.box-small) {
        width: 100%;
    }

    .filters  {
        @include box();
        @include content-apart();

        min-height: 65px;
        padding: 0 20px;
        margin-bottom: 40px;
        z-index: 1;
        width: 100%;

        label {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
        }

        input {
            @include input();
            margin-right: 40px;
        }
    }

    .content-menu {
        @include content-apart();

        margin: 15px 0;
    }
}

.alert-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    .alert {
        margin-bottom: 0;
        border-radius: 0;
    }
}

.box {
    @include box();

    &.box-small {
        min-width: 350px;
        width: 40%;
    }
}

.text-reset {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: $blue;
}

.text-semi-bold {
    font-weight: 600;
}

.loading {
    position: relative;

    /* slightly transparent fallback */
    .spinner-border-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(2px);
        background-color: initial;
    }
}

