@import "variables";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import "~select2/src/scss/core";
@import '~froala-editor/css/froala_editor.css';

@import "mixins";
@import "fonts";
@import "header";
@import "forms";
@import "login";
@import "select2";
@import "datatable";
@import "settings";

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Retroyal', sans-serif;
    background-color: $grey;
    max-width: 100%;
}

body.home {
    display: flex;
    flex-direction: column;
    height: 100%;

    main {
        flex: 1 1 auto;

        .box {
            height: 100%;
        }
    }
}

h1, h2 {
    font-family: 'Autumn Collection', serif;
    color: $blue;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-weight: bold;
    color: $blue;
    font-size: 1.1rem;
}

main:not(.login) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;

    .box.first-box, .filters.first-box {
        margin-top: -30px;
    }

    .box:not(.first-box) {
        margin-top: 1.5rem;
    }

    .box:not(.box-small), .filters:not(.box-small) {
        width: 100%;
    }

    .filters  {
        @include box();
        @include content-apart();

        flex-wrap: wrap;
        justify-content: space-between;
        flex: 1 1 auto;
        min-height: 65px;
        padding: 16px;
        margin-bottom: 40px;
        z-index: 1;
        width: 100%;
        border-radius: 8px;

        .right {
            display: flex;
            justify-content: flex-end;
            flex: 1 1 auto;
        }

        .filter-items {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;

            &>* {
                margin-right: 25px;
            }
        }

        label {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;

            &.dates {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 10px;
            }
        }
    }

    .content-menu {
        @include content-apart();

        margin: 15px 0;
    }
}

.alert-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    .alert {
        margin-bottom: 0;
        border-radius: 0;
    }
}

.box {
    @include box();

    &.box-small {
        min-width: 350px;
        width: 40%;
    }

    &.home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.text-reset {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: $blue;
}

.text-semi-bold {
    font-weight: 600;
}

.loading {
    position: relative;

    /* slightly transparent fallback */
    .spinner-border-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(2px);
        background-color: initial;
    }
}

//FROALA OVERRIDES
.fr-box.fr-basic {

    .fr-second-toolbar {
        display: none;
    }

    .fr-toolbar {
        border: none;
        background-color: #F8F8F8;
    }

    .fr-wrapper {
        border: none;
        border-bottom: 1px solid $grey-dark !important;
        height: 15vh;
    }
}

.modal.delete {
    h1 {
        font-family: 'Retroyal', sans-serif;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: normal;
    }

    .delete-image {
        width: 100%;
        height: 100px;
        background: url(../images/delete.svg) no-repeat scroll center;
        background-size: 100px;
        margin-bottom: 25px;
    }
}

.box-show {
    width: 100%;
    margin-top: -30px;
    padding-right: 0;

    .box-group {
        padding-right: 0 !important;
    }

    h3 {
        font-size: 28px;
    }

    .box-details {
        @include box();
    }

    .details {
        height: 60vh;
    }

    .owner {
        height: 15vh;
        margin-bottom: 1vh;
    }

    .history {
        height: 44vh;
    }
}

/** TIMELINE **/
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #D6D6D6;
    top: 0;
    bottom: 0;
    left: 50%;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    right: -17px;
    background-color: #1E1F44;
    border: 2px solid white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -206px;
}

/* The actual content */
.content {
    padding: 0 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    left: -200px;
}
