@font-face {
    font-family: 'Autumn Collection';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/autumn-collection/autumn-collection-regular.otf) format('opentype');
}

@font-face {
    font-family: 'Retroyal';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/retroyal/retroyal-thin.otf) format('opentype');
}

@font-face {
    font-family: 'Retroyal';
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/retroyal/retroyal-extra-light.otf) format('opentype');
}

@font-face {
    font-family: 'Retroyal';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/retroyal/retroyal-light.otf) format('opentype');
}

@font-face {
    font-family: 'Retroyal';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/retroyal/retroyal-regular.otf) format('opentype');
}

@font-face {
    font-family: 'Retroyal';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/retroyal/retroyal-medium.otf) format('opentype');
}

@font-face {
    font-family: 'Retroyal';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/retroyal/retroyal-medium-italic.otf) format('opentype');
}

@font-face {
    font-family: 'Retroyal';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/retroyal/retroyal-semi-bold.otf) format('opentype');
}

@font-face {
    font-family: 'Retroyal';
    font-style: italic;
    font-weight: 600;
    src: url(../fonts/retroyal/retroyal-semi-bold-italic.otf) format('opentype');
}

@font-face {
    font-family: 'Retroyal';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/retroyal/retroyal-bold.otf) format('opentype');
}

@font-face {
    font-family: 'Retroyal';
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/retroyal/retroyal-bold-italic.otf) format('opentype');
}
