@import "variables";
@import "mixins";

//temporary should be replaced with custom style
input:focus, select { outline: none; }

label {
    display: block;
    font-size: 1.2rem;
    margin-top: 1rem;

    [data-toggle="tooltip"] {
        display: inline-block;
        background: url(../images/question-mark.svg) no-repeat;
        width: 12px;
        height: 12px;
        margin-bottom: 5px;
    }

    input, select {
        display: block;
        width: 100%;
    }

    .show-password {
        display: block;
        position: relative;
        top: -30px;
        right: 5px;
        text-align: right;
        width: 100% !important;
        height: 0;
    }

    &:not(:first-child) {
        margin-top: 0.5rem;
    }

    .invalid-feedback {
        display: block;
        font-size: 0.9rem;
        font-weight: normal;
        color: $invalid;
    }
}

input:not([type="checkbox"]):not([type="radio"]), select {
    @include input();
}

textarea {
    @include input();
    min-height: 100px;
    width: 100%;
    resize: none;

    &:focus {
        outline: none;
    }
}

input[type="search"] {
    background: url(../images/search.svg) no-repeat scroll right;
    width: 200px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.toggle {
    font-weight: normal;

    span.label {
        display: block;
        font-size: 1.2rem;
        margin-top: 1rem;
    }

    input[type="radio"] {
        display: none;
    }

    input[type="radio"] + label {
        @include button(secondary);
        border-color: $grey;
        color: black;
        background-color: $grey;
        width: 200px;
        margin-top: 0;
    }

    input[type="radio"]:checked + label {
        @include button(primary);
        background: $blue !important;
        border-color: $blue;
        color: white !important;
        cursor: default;
    }

    input[type=radio] + label:hover {
        border-color: $blue;
        color: $blue;
    }

    input[type=radio]:checked + label:hover {
        border-color: $blue;
    }
}

button, a {
    text-align: left;

    &.primary {
        @include button(primary);
    }

    &.secondary {
        @include button(secondary);
    }

    &.outline {
        @include button(outline);
    }

    &.silent {
        @include button(silent);
    }

    .icon {
        display: inline-block;
        margin-right: 5px;
    }
}

.attachment-drop-frame {
    background: $grey;
    border-radius: 6px;
    padding: 23px;
    text-align: center;
    line-height: 1.3rem;
    transition: background 200ms;

    &:hover {
        background: $grey-dark;
    }

    .click-here {
        cursor: pointer;
        white-space: nowrap;
        font-weight: bold;
    }

    input[type="file"] {
        display: none;
    }

    &.is-valid {
        background: $pale-green;
    }

    &.is-invalid {
        background: $pale-red;
    }
}

.modal {
    input:not([type="checkbox"]) {
        width: 100% !important;
    }
}

.bx-input-group {

    input {
        width: initial !important;
        flex: 1;
    }

    .input-group-text {
        border: none !important;
        background-color: $grey !important;
        width: 45px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        font-weight: bold;
        color: #6C757D;
    }
}

.hint {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 10px;
}
