@import "variables";
@import "mixins";

label {
    font-weight: bold;
    font-size: 1.2rem;
}

input {
    &[type="text"], &[type="password"], &[type="search"] {
        min-width: 150px;
        border: none;
        border-bottom: 1px solid #E5E5E5;
        padding: 5px 6px;
    }

    &[type="search"] {
        background: url(../images/search.svg) no-repeat scroll right;
        width: 200px;
    }
}

select {
    border: 1px solid $grey-dark;
    padding: 6px 6px;
    border-radius: 4px;
}

button, a[role="button"] {
    @include button();

    &.primary {
        background: $orange;
        border-color: $orange;
        color: white;

        &:hover {
            background: $orange-light;
            border-color: $orange-light;
        }
    }

    &.secondary {
        background: $orange-lightest;
        border-color: $orange-lightest;
        color: $orange;

        &:hover {
            border-color: $orange-light;
            color: $orange-light;
        }
    }

    &.outline {
        background: white;
        border-color: $orange;
        color: $orange;

        &:hover {
            border-color: $orange-light;
            color: $orange-light;
        }
    }

    &.tertiary {
        background: transparent;
        border-color: transparent;
        color: $blue-lighter;

        &:hover {
            color: $blue;
        }
    }

    .icon {
        display: inline-block;
        margin-right: 5px;
    }
}
