@import "variables";
@import "mixins";

//temporary should be replaced with custom style
input:focus, select:focus { outline: none; }

label {
    display: block;
    font-size: 1.2rem;
    margin-top: 1rem;

    input, select {
        display: block;
        width: 100%;
    }

    &:not(:first-child) {
        margin-top: 0.5rem;
    }

    .invalid-feedback {
        font-size: 0.9rem;
        font-weight: normal;
        color: $invalid;
    }
}

input[type="text"], input[type="password"], input[type="search"], select {
    @include input();
}

input[type="search"] {
    background: url(../images/search.svg) no-repeat scroll right;
    width: 200px;
}

.toggle {
    font-weight: normal;

    span.label {
        display: block;
        font-size: 1.2rem;
        margin-top: 1rem;
    }

    input[type="radio"] {
        display: none;
    }

    input[type="radio"] + label {
        @include button(secondary);
        width: 200px;
        margin-top: 0;
    }

    input[type="radio"]:checked + label {
        @include button(primary);
    }
}

button, a[role="button"] {
    text-align: left;

    &.primary {
        @include button(primary);
    }

    &.secondary {
        @include button(secondary);
    }

    &.outline {
        @include button(outline);
    }

    &.silent {
        @include button(silent);
    }

    .icon {
        display: inline-block;
        margin-right: 5px;
    }
}

.modal {
    input:not([type="checkbox"]), select {
        width: 100%;
    }
}
