@import "variables";
@import "mixins";

header {
    background-color: $blue;
    border-radius: 0 0 16px 16px;
    padding: 20px 30px;
    color: white;

    .top {
        @include content-apart();

        .logo {
            height: 100px;
        }
    }

    .header-right {
        display: flex;
        flex-wrap: nowrap;

        .current-user {
            display: flex;
            align-items: center;
            margin-right: 50px;
            font-size: 1.1rem;

            img {
                margin-right: 10px;
            }
        }

        .menu-container {
            position: relative;
        }

        .display-menu {
            border: none;
            background: transparent;
            padding: 0;
            height: auto;
            cursor: pointer;
        }

        #menu-dropdown {
            @include box();
            position: absolute;
            top: calc(100% + 5px);
            right: 0;
            padding: 10px;
            z-index: 1000;

            .category, a {
                position: relative;
                display: block;
                color: $blue;
                padding: 5px 20px 5px 40px;
                text-decoration: none;
                height: 35px;
                line-height: 30px;
                white-space: nowrap;
                cursor: pointer;
                transition: color 200ms;

                &:hover {
                    color: $orange;
                }

                &.category {
                    padding-left: 0;
                }

                .category, a {
                    padding-left: 20px;
                }

                .chevron {
                    width: 35px;
                }

                .icon {
                    width: 15px;
                    margin-right: 3px;
                }

                &:not(:last-child) {
                    margin-bottom: 5px;
                }

                &.active {
                    background: $grey;
                    color: $orange;
                    border-radius: 4px;
                }

                &:hover {
                    background: $grey;
                    border-radius: 4px;
                }

                .category-dropdown {
                    @include box();
                    padding: 10px;
                    position: absolute;
                    top: 0;
                    right: calc(100% + 20px);
                    z-index: 1000;
                }
            }
        }
    }

    .breadcrumb {
        margin-top: 50px;
        font-size: 2.5rem;
        margin-bottom: 45px;

        .menu {
            font-weight: bold;
            letter-spacing: 3px;
        }

        i.separator {
            font-style: normal;
            margin: 0 7px;
        }
    }
}
