@import "variables";
@import "mixins";

header {
    background-color: $blue;
    border-radius: 0 0 16px 16px;
    padding: 20px 30px 50px;
    color: white;

    .top {
        @include content-apart();

        @media (max-width: $tablet-breakpoint) {
            flex-wrap: wrap;
        }

        .logo {
            height: 100px;
            max-width: 50vw;
        }
    }

    .header-right {
        display: flex;
        flex-wrap: nowrap;

        .user-container {
            display: flex;
            align-items: center;
            margin-right: 50px;
            font-size: 1.1rem;
            cursor: pointer;
            position: relative;

            button {
                background-color: $blue;
                border: none;
                color: white;
            }

            .dropdown-menu {
                inset: 2px auto auto 0 !important;
                border-radius: 16px !important;

                .dropdown-item {
                    transition: color 200ms;

                    &:hover {
                        color: $orange;
                    }
                }
            }

            img {
                margin-right: 10px;
            }

            @media (max-width: $mobile-breakpoint) {
                display: none;
            }
        }

        .menu-container {
            position: relative;
        }

        .display-menu {
            border: none;
            background: transparent;
            padding: 0;
            height: auto;
            cursor: pointer;
        }

        #menu-dropdown {
            @include box();
            position: absolute;
            top: calc(100% + 5px);
            right: 0;
            padding: 10px;
            z-index: 1000;

            h1 {
                display: none;
            }

            .category, a {
                position: relative;
                display: block;
                color: $blue;
                padding: 5px 20px 5px 40px;
                text-decoration: none;
                height: 35px;
                line-height: 30px;
                white-space: nowrap;
                cursor: pointer;
                transition: color 200ms;

                &:hover {
                    color: $orange;
                }

                &.category {
                    padding-left: 0;
                }

                .category, a {
                    padding-left: 20px;
                }

                .chevron {
                    width: 35px;
                }

                .icon {
                    width: 15px;
                    margin-right: 3px;
                }

                &:not(:last-child) {
                    margin-bottom: 5px;
                }

                &.active {
                    background: $grey;
                    color: $orange;
                    border-radius: 4px;
                }

                &:hover {
                    background: $grey;
                    border-radius: 4px;
                }

                .category-dropdown {
                    @include box();
                    padding: 10px;
                    position: absolute;
                    top: 0;
                    right: calc(100% + 20px);
                    z-index: 1000;
                }
            }
        }
    }

    .breadcrumb {
        margin: 50px;
        font-size: 2.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media (max-width: $mobile-breakpoint) {
            font-size: 1.4rem;
            margin: 20px 50px;
        }

        @media (max-width: $tablet-breakpoint) {
            order: 3;
            margin: 0;
            width: 100%;
        }

        .menu {
            font-weight: bold;
            letter-spacing: 3px;
        }

        i.separator {
            font-style: normal;
            margin: 0 7px;
        }

        span {
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .filler {
        flex: 1 1 auto;
    }
}


@media (max-width: $mobile-breakpoint) {
    header {
        .header-right {
            .menu-container {
                position: initial;
            }

            #menu-dropdown {
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                border-radius: 0;
                font-size: 1.1rem;
                padding: 16px;

                h1 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 60px;
                    font-family: Retroyal, sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 2rem;
                    padding: 0 16px;

                    .close-menu {
                        background: url("../images/close-modal.svg") no-repeat;
                        background-size: 20px;
                        width: 20px;
                        height: 20px;
                        border: none;
                        margin-bottom: 16px;
                    }
                }

                .category {
                    height: initial;

                    &.active, &:hover {
                        background: white;
                    }

                    .category-dropdown {
                        position: initial;
                        top: initial; right: initial;
                        box-shadow: initial;
                        padding: 0 0 8px 0;
                        border-radius: initial;
                        margin-left: 18px;
                        border-bottom: 2px solid $grey;
                    }
                }

                .fa-chevron-left {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
