.bxi-trash-circle {
    width: 40px;
    height: 40px !important;

    &:hover {
        cursor: pointer;
    }
}

.bxi-edit-circle {
    width: 40px;
    height: 40px !important;

    &:hover {
        cursor: pointer;
    }
}