@import 'variables';

.indicator-label {
  font-family: Retroyal, sans-serif;
  font-size: 18px;
  color: $grey-darker;
}

.indicator-value {
  font-family: Retroyal, sans-serif;
  font-weight: bold;
  color: $green;
  font-size: 35px;
}

.indicator-img {
  height: 150px;
}