@import "variables";

@mixin box() {
    background: #FFFFFF;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 10px 20px;
}

@mixin button() {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid $orange;
    height: 37px;
    line-height: 37px;
    padding: 0 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
