@import "variables";

@mixin box() {
    background: #FFFFFF;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    padding: 24px;
}

@mixin input() {
    box-sizing: border-box;
    min-width: 200px;
    border: none;
    border-bottom: 1px solid $grey-dark;
    height: 38px;
    padding: 5px 6px;

    &.is-invalid {
        background: $invalid-lighter;
        border-bottom-color: $invalid;
    }
}

@mixin button($type: primary) {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid $orange;
    height: 37px;
    line-height: 37px;
    padding: 0 20px;
    text-decoration: none;
    text-align: center;
    transition: all 200ms;
    white-space: nowrap;

    &:not(:disabled), &:not(:disabled:hover) {
        cursor: pointer;
    }

    &.big {
        height: 55px;
        line-height: 55px;
        padding: 0 35px;
        font-size: 1.2rem;
    }

    @if $type == primary {
        background: $orange;
        border-color: $orange;
        color: white;

        &:hover {
            background: $orange-light;
            border-color: $orange-light;
        }

        &:disabled, &:disabled:hover {
            background: lighten($orange, 15);
            border-color: lighten($orange, 15);
        }
    } @else if $type == secondary {
        background: $orange-lightest;
        border-color: $orange-lightest;
        color: $orange;

        &:hover {
            border-color: $orange-light;
            color: $orange-light;
        }
    } @else if $type == outline {
        background: white;
        border-color: $orange;
        color: $orange;

        &:hover {
            border-color: $orange-light;
            color: $orange-light;
        }
    } @else if $type == silent {
        background: transparent;
        border-color: transparent;
        color: $blue-light;

        &:hover {
            color: $blue;
        }
    }
}

@mixin content-apart() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
