@import "mixins";
@import "variables";

.select2 {
    min-width: 200px;
    height: 38px;
}

.select2-container {
    width: 100% !important;
}

.select2-container.multiple {
    height: 60px;
    overflow-x: auto;
}

.filters .select2-container:not(.select2-container--open) {
    height: initial;
}

.filters .select2-container {
    width: 200px !important;
}

.select2-selection {
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid $grey-dark !important;
    outline: none;
    height: 38px !important;
    line-height: 38px;

    &.select2-selection--multiple {
        display: flex;
        max-height: 38px;
    }

    &.is-invalid {
        background: $invalid-lighter;
        border-bottom-color: $invalid !important;
    }
}

.select2-selection__arrow > b {
    border-color: black transparent transparent transparent !important;
}

.select2-container--open .select2-selection__arrow > b {
    border-color: transparent transparent black transparent !important;
}

.select2-search {
    border: none !important;
    width: 100%;

    textarea, input {
        min-width: initial;
    }
}

.select2-search__field {
    box-sizing: initial;
    font-family: Retroyal, sans-serif !important;
    font-size: 1.2rem !important;
    border: none !important;
    min-height: initial;
    height: 38px !important;
    line-height: 38px !important;
    padding: 5px 6px !important;
    margin-top: 0 !important;
    margin: 0 !important;
    background: none !important;
}

.select2-dropdown {
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border: none !important;
    box-shadow: 0 2px 8px -2px !important;
}

.select2-results__option--highlighted.select2-results__option--selectable {
    background-color: $blue-light !important;
}

.select2-selection {
    line-height: initial !important;
}

.select2-selection__choice {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0;
    background-color: $blue-lighter !important;
    color: white;
    height: 27px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: none !important;

    .select2-selection__choice__remove {
        border: none !important;
        padding: 5px !important;

        &:hover {
            background-color: $blue-lighter !important;
            color: white !important;
        }

        span:hover {
            color: white !important;
        }
    }

    .select2-selection__choice__display {
        padding-top: 1px;
    }
}

.select2-selection__rendered {
    display: inline-flex !important;
    align-items: center;
    height: 38px !important;
}

.select2-container--open .select2-dropdown--below {
    margin-top: -22px !important;
}