@import "variables";

.timeline-line {
    .timeline-line-comment {
        border-radius: 5px;
        width: 36vw;
        padding: 15px;
        position: relative;
        margin-left: 32%;
        overflow-wrap: break-word;

        &:empty {
            min-height: initial;
            padding: 0;
            height: 10px;
        }

        p {
            margin: 0 !important;
        }
    }


    &:not(:last-child) .timeline-line-comment::before {
        content: "";
        position: absolute;
        width: 1px;
        background-color: #CECECE;
        top: -25px;
        bottom: -20px;
        left: -7.5%;
    }

    .timeline-line-title {
        padding: 10px 30px;
        position: relative;
        background-color: inherit;
        width: 28%;
    }

    .timeline-line-marker {
        display: inline-block;
        padding: 10px 40px 10px 0;
        position: relative;
        background-color: inherit;
        width: 28%;
        text-align: right;
    }

    .timeline-line-marker::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        right: -17px;
        background-color: $blue;
        border: 3px solid white;
        border-radius: 50%;
        z-index: 1;
        top: 0px;
    }
}
