@import "variables";

.timeline-line {
    .timeline-line-comment {
        border-radius: 5px;
        background-color: #F8F8F8;
        padding: 0 10px;
        position: relative;
        overflow-wrap: break-word;
        display: flex;
        align-items: center;
        max-height: 40px;

        &:empty {
            min-height: initial;
            padding: 0;
            height: 10px;
        }

        p {
            margin: 0 !important;
        }
    }

    .timeline-line-title {
        padding: 0 30px;
        position: relative;
        background-color: inherit;
        flex: 72%;

        strong {
            font-size: 18pt;
            margin-right: 15px;
        }
    }

    &:not(:last-child) .timeline-line-marker::before{
        content: "";
        position: absolute;
        width: 2px;
        background-color: #CECECE;
        top: 10px;
        right: 0;
        height: 100%;
    }

    .timeline-line-marker {
        display: inline-block;
        padding: 0 40px 0 0;
        position: relative;
        background-color: inherit;
        flex: 28%;
        text-align: right;

        strong {
            font-size: 18pt;
        }
    }

    .timeline-line-marker::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        right: -9px;
        background-color: $blue;
        border-radius: 50%;
        z-index: 1;
        top: 4px;
    }

    &:first-child {
        .timeline-line-marker::after {
            background-color: $green !important;
        }
    }
}
