$mobile-breakpoint: 768px;

$orange-lightest: #FDEFE8;
$orange-light: #ec6e2e;
$orange: #EB611B;

$blue-lighter: #3f4277;
$blue-light: #363869;
$blue: #1E1F44;

$grey-light: #fdfdfd;
$grey: #F8F8F8;
$grey-dark: #E5E5E5;

$invalid-lighter: #fff0f0;
$invalid: #ff4a4a;

$pale-red: #f1c2c2;
$pale-green: #e6f5e5;

//bootstrap overrides
$primary: $orange;
