@import "../mixins";

.box-show {
    flex: 1;
    width: 100%;
    margin-top: -30px;
    padding-right: 0;

    h3 {
        font-size: 28px;
    }

    .box-details {
        @include box();

        &.details {
            height: 100%;
            @media (max-width: $mobile-breakpoint) {
                height: initial;
            }
        }

        p {
            font-size: 1.25rem;
            margin-top: 5px;
        }
    }

    .right-column {
        display: flex;
        flex-direction: column;
        padding-right: 0 !important;

        @media (max-width: $mobile-breakpoint) {
            padding: 0 !important;
            margin-top: 15px;
        }

        .history {
            flex: 1 1 auto;
            margin-top: 15px;

            .history-wrapper {
                overflow-y: auto;
                height: 90%;
            }
        }
    }

    .scroll-top {
        .scroll-top-button {
            right: 80px;
            position: absolute;
            bottom: 110px;

            svg {
                color: $blue;
                cursor: pointer;
            }
        }
    }
}
