@import "../mixins";

.box-show {
    width: 100%;
    margin-top: -30px;
    padding-right: 0;

    .box-group {
        padding-right: 0 !important;
    }

    h3 {
        font-size: 28px;
    }

    .box-details {
        @include box();

        &.history {
            height: 44vh;
        }

        .history-wrapper {
            overflow-y: auto;
            height: 90%;
        }
    }

    .details {
        height: 60vh;
    }

    .owner {
        height: 15vh;
        margin-bottom: 1vh;
    }

    .scroll-top {
        .scroll-top-button {
            right: 80px;
            position: absolute;
            bottom: 110px;

            svg {
                color: $blue;
                cursor: pointer;
            }
        }
    }
}