.new-order {
    position: absolute;
    right: 50px;
    top: 160px;

    button {
        height: 70px !important;
        width: 70px !important;
        border-radius: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            margin-right: 0 !important;
            font-size: 20px;
        }
    }
}

.left-pane {
    display: flex;
    flex-direction: column;

    .scanned-boxes, .scanned-tickets {
        flex: 1 1 auto;
    }
}

.scan-container {
    position: relative;

    img {
        position: absolute;
        padding: 2rem;
        max-height: 100%;
        max-width: 100%;
        z-index: 1000;
        opacity: 0.5;
    }

    video {
        border-radius: 10px;
        width: 100%;
    }
}

.payment-price {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 24px;
        border-radius: 8px;
        padding: 8px 32px;
        text-align: center;
        font-size: 2rem;

        strong {
            margin-left: 12px;
            font-size: 2.5rem;
        }
    }
}
