@import "../variables";

#planning {
    display: flex;
    flex-direction: row;
    overflow: auto;
    height: 100%;
    max-height: 100%;

    .column {
        width: 200px;
        text-align: center;
        padding: 4px;

        .h1 {
            font-size: 3rem;
        }

        &>div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex: 1 1 auto;
            border: 1px solid $grey-dark;
            border-radius: 4px;
            padding: 4px;
            width: 100%;

            .order {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                min-height: 50px;
                border: 1px solid transparent;
                border-radius: 4px;
                padding: 6px;
                font-size: 0.9rem;
                width: 200px;

                &:not(:last-child) {
                    margin-bottom: 6px;
                }

                &.to-validate {
                    background: rgba($orange, 10%);
                    border-color: $orange;
                }

                &.planned {
                    background: $grey;
                    border-color: #BDBDBD;
                }

                &.preparing {
                    background: $grey;
                    border-color: $blue;
                }

                &.delivering {
                    background: rgba($green, 10%);
                    border-color: $green;
                }

                &.late {
                    background: rgba($red, 10%);
                    border-color: $red;
                }

                .title {
                    font-size: 1.2rem;
                    font-weight: bold;
                }

                label {
                    margin-top: 0;
                    font-size: 0.9rem;
                    text-align: left;
                }

                label:not(.inline) strong {
                    display: block;
                    margin-top: -0.4rem;
                }

                .muted {
                    color: $grey-darker;
                }

                .status {
                    display: block;
                    background: white;
                    border-radius: 4px;
                    padding: 8px 16px;
                    font-size: 1rem;
                    line-height: 1rem;
                    margin: 8px auto;
                    color: $blue;
                }

                .valid {
                    margin: 8px auto;
                    height: 24px;
                    background: $orange;
                    color: white;
                    border-radius: 4px;
                    padding: 4px;
                    min-width: 100px;
                }

                a {
                    margin: auto;
                }
            }
        }
    }
}