<div id="modal-new-import" class="modal fade" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
            <h1>Import d'un fichier</h1>

            <div class="body">
                <div class="row">
                    <div class="col-lg-8 col-md-6 col-12">
                        <label>
                            Nom de l'import
                            <input type="text" name="name" class="data" placeholder="Nom de l'import" required/>
                        </label>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <label>
                            Type de données
                            <select type="text" name="type" class="data" data-s2 data-placeholder="Type de données" required>
                                <option value="{{ constant('App\\Entity\\Import::TYPE_BOX') }}">Box</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-12">
                        <label>
                            Pièce jointe
                            <div class="attachment-drop-frame">
                                <div class="file-empty cursor-pointer">
                                    Faites glisser votre pièce jointe ici<br>
                                    ou <span class="click-here">cliquez ici</span>
                                </div>
                                <div class="file-confirmation d-none">
                                    Le fichier <strong class="file-name"></strong> a bien été ajouté.
                                    <i class="fas fa-trash cursor-pointer file-delete-icon"></i>
                                </div>
                                <input type="file" name="attachment" class="data d-none" data-format="csv" accept=".csv" required>
                            </div>
                        </label>

                        <div class="mt-3">
                            Attention : Le délimiteur est le point virgule et l'encodage UTF-8.<br>
                        </div>

                        <div class="row mt-3">
                            <p class="class-12 template-link"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                <button type="button" class="secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="primary">Enregistrer</button>
            </div>
        </div>
    </div>
</div>
