{% extends 'template.html.twig' %}

{% block menu %}Référentiel{% endblock %}
{% block page %}Emplacement{% endblock %}

{% block content %}
    <div class="box first-box">
        <div class="content-menu">
            <div id="table-search-container"></div>
            <div class="right">
                <a href="{{ path('locations_export') }}" class="outline"><i class="icon fas fa-download"></i> Export au format CSV</a>
                <button class="primary new-location"><i class="icon fas fa-plus"></i> Nouvel emplacement</button>
            </div>
        </div>

        <table id="table-locations"></table>
        <input id="table-locations-initial" type="hidden" value="{{ initial_locations }}">
    </div>

    {% include 'referential/location/modal/new.html.twig' with {location: new_location} %}
    {% include 'referential/location/modal/empty.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('location_list') }}
{% endblock %}
