{% extends 'emails/base.html.twig' %}

{% block content %}
    <h1>Mot de passe oublié</h1>

    <div class="centered-box">
        <span class="bigger">
            Vous venez de demander à réinitialiser le mot de passe de votre compte BoxEaty.
            Cliquez sur le lien ci-dessous pour continuer.
        </span>

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center">
                    <a class="primary m-3" href="{{ url('reset_password', {'user': user.id, 'token': token}) }}" target="_blank">
                        Réinitialiser mon mot de passe
                    </a>
                </td>
            </tr>
        </table>

        Si vous n'avez pas demandé à réinitialiser ce mot de passe, ignorez cet email. Le lien ci-dessus n'est
        valide que pendant les 12 prochaines heures.
    </div>
{% endblock %}
