{% extends 'template.html.twig' %}

{% block menu %}Paramétrage{% endblock %}
{% block page %}Rôles{% endblock %}

{% block content %}
    <div class="box first-box">
        <div class="content-menu">
            <div id="table-search-container"></div>
            <div class="right">
                <a href="{{ path('roles_export') }}" class="outline"><i class="icon fas fa-download"></i> Export au format CSV</a>
                <button class="primary new-role"><i class="icon fas fa-plus"></i> Nouveau rôle</button>
            </div>
        </div>

        <table id="table-roles"></table>
        <input id="table-roles-initial" type="hidden" value="{{ initial_roles }}">
    </div>

    {% include 'settings/role/modal/new.html.twig' with {role: new_role} %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('role_list') }}
{% endblock %}
