<div class="datatable-action dropdown">
    <span type="button" data-toggle="dropdown">
        <i class="fas fa-ellipsis-h"></i>
    </span>
    <div class="dropdown-menu">
        {% if editable ?? false %}
            <button data-listener="edit"><i class="icon fas fa-pen"></i> Modifier</button>
        {% endif %}
        {% if deletable ?? false %}
            <button data-listener="delete" {% if disableDelete is defined %}title="{{ disableDelete }}" disabled{% endif %}>
                <i class="icon fas fa-trash-alt"></i> Supprimer
            </button>
        {% endif %}
        {% if cancellable ?? false %}
            <button data-listener="cancel"><i class="icon fas fa-ban"></i> Annuler</button>
        {% endif %}
        {% if empty ?? false %}
            <button data-listener="empty"><i class="icon fas fa-times"></i> Vider la borne</button>
        {% endif %}
        {% if trace ?? false %}
            <a href="/persistent/traces/{{ import.trace }}" target="_blank">
                <i class="icon fas fa-clipboard-list"></i> Fichier trace
            </a>
        {% endif %}
    </div>
</div>
