{% extends 'template.html.twig' %}

{% block menu %}Accueil{% endblock %}

{% block bodyclass %}home{% endblock %}
{% block content %}
    <div class="box home first-box">
        <h1 class="mb-4">Bienvenue !</h1>

        <button class="outline"><i class="icon fas fa-download"></i> Export général au format CSV (ça fonctionne pas encore hein)</button>
    </div>
{% endblock %}
