{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div class="top">
            <img src="{{ asset('images/white-logo.svg') }}" class="logo" alt="Logo BoxEaty"/>
            <div class="header-right">
                <div class="current-user">
                    <img src="{{ asset('images/user.svg') }}"/>
                    Yann
                </div>
                <div class="menu-container">
                    <img class="display-menu" src="{{ asset('images/menu.svg') }}"/>
                    {% include 'menu.html.twig' %}
                </div>
            </div>
        </div>
        <div class="breadcrumb">
            <span class="menu">{% apply upper %}{% block menu %}???{% endblock %}{% endapply %}</span>
            <i class="separator">|</i>
            <span>{% block page %}???{% endblock %}</span>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
{% endblock %}
