{% for column in planning %}
    <div class="column">
        <h3>{{ column.title }}</h3>
        <div>
            {% for order in column.orders %}

            {% endfor %}
        </div>
    </div>
{% endfor %}