{% extends 'template.html.twig' %}

{% block menu %}Opérations{% endblock %}
{% block page %}Planification des livraisons{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('planning') }}
{% endblock %}

{% block filter_header %}
    {% include 'filters/planning_filters.html.twig' %}
{% endblock %}

{% block bodyclass %}full-height{% endblock %}
{% block content %}
    <div class="box first-box">
        <div id="planning">{{ content | raw }}</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('planning') }}
{% endblock %}
