{% extends 'template.html.twig' %}

{% block menu %}Traçabilité{% endblock %}
{% block page %}Scan Box{% endblock %}

{% block content %}
    <div class="box first-box">
        <div class="content-menu">
            <div id="table-search-container"></div>
            <div class="right new-order-container">
                <button class="primary new-order"><i class="icon fas fa-plus"></i></button>
            </div>
        </div>

        <table id="table-orders"
               data-initial-data="{{ initial_orders }}"
               data-default-order="{{ orders_order|json_encode }}">
        </table>
    </div>

    {% include 'tracking/order/modal/new.html.twig' with {order: new_order} %}
    {% include 'tracking/order/modal/delete.html.twig' %}
    {% include 'tracking/order/modal/scan.html.twig' %}
    {% include 'tracking/order/modal/confirmation.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('order_list') }}
{% endblock %}
