<div id="modal-delete-user" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supprimer un utilisateur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Vous êtes sur le point de supprimer l'utilisateur <span data-display="name"></span>
                <input type="hidden" name="id" class="data">
            </div>
            <div class="modal-footer">
                <button type="button" class="secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="primary">oui</button>
            </div>
        </div>
    </div>
</div>
