<div id="modal-delete-user" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
            <h1>Supprimer cet utilisateur</h1>

            <div class="body">
                Vous êtes sur le point de supprimer définitivement l'utilisateur <b data-display="username"></b>
                <input type="hidden" name="id" class="data">
            </div>

            <div class="footer">
                <button type="button" class="secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="primary">Supprimer</button>
            </div>
        </div>
    </div>
</div>
