<div id="modal-new-user" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouvel utilisateur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label>
                            Nom
                            <input type="text" name="username" class="data" placeholder="Nom d'utilisateur" required/>
                        </label>
                    </div>
                    <div class="col-12 toggle">
                        <span class="label">Statut</span>

                        <input type="radio" id="new-user-active" name="active" class="data" value="1" checked/>
                        <label for="new-user-active">Actif</label>

                        <input type="radio" id="new-user-inactive" name="active" class="data" value="0"/>
                        <label for="new-user-inactive">Inactif</label>
                    </div>
                    <div class="col-md-6 col-12">
                        <label>
                            Email
                            <input type="text" name="email" class="data" placeholder="Adresse email" required/>
                        </label>
                    </div>
                    <div class="col-md-6 col-12">
                        <label>
                            Rôle
                            <select name="role" class="data" required>
                                <option disabled selected>Sélectionnez un role</option>
                                {% for role in roles %}
                                    <option value="{{ role.id }}">{{ role.label }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="col-md-6 col-12">
                        <label>
                            Mot de passe
                            <input type="password" name="password" class="data" placeholder="Mot de passe" required/>
                        </label>
                    </div>
                    <div class="col-md-6 col-12">
                        <label>
                            Confirmer le mot de passe
                            <input type="password" data-repeat="password" class="data" placeholder="Mot de passe" required/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="primary">Enregistrer</button>
            </div>
        </div>
    </div>
</div>
