<mjml>
    <mj-head>
        <mj-style>
            a {text-decoration: none;}
        </mj-style>
    </mj-head>
    <mj-body background-color="#F9F9EC">
        <mj-wrapper background-color="#F9F9EC" border="1px solid #F9F9EC" full-width="full-width" border="0"
                    padding="0px">
            <mj-section>
                <mj-column>
                    <mj-image width="400px" height="150px" height="auto"
                              src="{{ base64('images/email/logo.png') }}"></mj-image>
                    <mj-text font-size="20px" align="center" font-family="helvetica" text-transform="uppercase"
                             font-weight="bold" color="#1E1F44">Mot de passe oublié
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>
        <mj-wrapper background-color="#F9F9EC" border="1px solid #F9F9EC" full-width="full-width" border="0"
                    padding="0px">
            <mj-section padding="0px">
                <mj-column width="80%" background-color="white" padding-bottom="20px" padding-top="20px" padding="0px">
                    <mj-text align="center" font-size="20px" line-height="25px" color="#1E1F44">
                        Vous venez de demander à réinitialiser le mot de passe de votre compte BoxEaty. Cliquez sur le
                        lien
                        ci-dessous pour continuer.
                    </mj-text>
                    <mj-button background-color="#EB611B" width="90%">
                        <a href="{{ url('reset_password', {'user': user.id, 'token': token}) }}" target="_blank"
                           style="color: white;">
                            Réinitialiser mon mot de passe
                        </a>
                    </mj-button>
                    <mj-text align="center" font-size="15px" line-height="20px" color="#1E1F44">
                        Si vous n'avez pas demandé à réinitialiser ce mot de passe, ignorez cet email. Le lien ci-dessus
                        n'est valide que pendant les 12 prochaines heures.
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>
        <mj-wrapper background-color="#F9F9EC" border="1px solid #F9F9EC" full-width="full-width" border="0"
                    padding="0px">
            <mj-section padding="0px">
                <mj-column padding="0px">
                    <mj-text font-size="20px" align="center" font-weight="bold" padding-bottom="30px" padding-top="50px"
                             color="#1E1F44">
                        Bonne journée,
                    </mj-text>
                    <mj-text font-size="20px" align="center" color="#1E1F44">
                        L'équipe BoxEaty
                    </mj-text>
                    <mj-image width="200px" src="{{ base64('images/email/eat-consigned.png') }}"></mj-image>
                </mj-column>
            </mj-section>
        </mj-wrapper>
    </mj-body>
</mjml>