{% extends 'template.html.twig' %}

{% block menu %}Paramétrage{% endblock %}
{% block page %}Global{% endblock %}

{% block content %}
    <label style="position:absolute;top:-500px">
        Utilisateur
        <input type="text" name="username">
    </label>

    <label style="position:absolute;top:-500px">
        Mot de passe
        <input type="text" name="password">
    </label>

    {% for template in get_folder('settings/global_settings/sections') %}
        {% include template %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('setting') }}
{% endblock %}
